subscription_id 	= "YOUR_SUBSCRIPTION_ID_HERE"
client_id 		    = "YOUR_APPLICATION_ID_HERE"
client_secret 		= "YOUR_SECRET_KEY_HERE"
tenant_id 		    = "YOUR_TENANT_ID_HERE"
location 		    = "westeurope"
vm_username 		= "stiruser"
vm_password 		= "stir%1"
vm_size             = "Standard_D2_v2"
